article{
   background: linear-gradient(hsl(214, 61%, 31%),hsl(208, 46%, 40%),hsl(213, 48%, 58%),hsl(213, 30%, 62%))fixed;
  background: conic-gradient(
    hsl(100 100% 60%), 
    hsl(200 100% 60%), 
    hsl(100 100% 60%) 
  ) fixed;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
} 

body {
  background: hsl(220, 54%, 25%);
  color: #fff;
  min-height: 200vh;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%,5vmin);
}

body, h1 , p {
  top: 50%;
  bottom: 50%;
}

h1{
  font-size: 10vmin;
}
